@tailwind base;
@tailwind components;
@tailwind utilities;


.btn {
  @apply disabled:opacity-50 disabled:pointer-events-none bg-sky-300 rounded-md  px-2 hover:bg-sky-600 hover:text-white transition sm:text-3xl
}
.btn.active {
  @apply bg-orange-400
}
.btn.pending {
  @apply bg-black
}

input {
  @apply border-2 border-black m-2
}
.map { height: 180px }
